*~
*pyc
*swp
*pk
*_mac
*_local
*png
*gif
*sublime*
12_*
*json
*params
*h5
*mdb
*dcm
*zip
TestGround.ipynb
model2_weight*
LOG.txt
Sunny/
DATA/Sunny/
DATA/Kaggle


!kaggle_tutorial
!kaggle-ndsb2
!dsbAnalysis
!kaggle_tutorial/analysis_rslt

kaggle_tutorial/*/
.ipynb_checkpoints/
kaggle_tutorial/iou_mac

