*~
*pyc
*swp
*pk
*_mac
*_local

!kaggle_tutorial
!kaggle-ndsb2
!dsbAnalysis
!kaggle_tutorial/analysis_rslt

kaggle_tutorial/*/
DATA/
SunnyOrigin/
Top3/
caffe_FCN/
.ipynb_checkpoints/
kaggle_tutorial/iou_mac
dataset
Net/Img/*
